.shop-category-container {
  text-align: center;

  h1 {
    margin-bottom: 48px;
    letter-spacing: -1px;
  }

  .products-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    row-gap: 50px;
  }
}
